@keyframes opacity {
  to {
    opacity: 1;
  }
}

@keyframes translateY {
  to {
    transform: translateY(0);
  }
}
@keyframes translateX {
  to {
    transform: translateX(0);
  }
}
@keyframes rotate-left-right {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes compass {
  0% {
    transform: rotate(45deg) translate(-1000px, 1000px) scale(0.5);
  }
  50% {
    transform: rotate(45deg) translate(-150px, 150px) scale(0.5);
  }
  55% {
    transform: rotate(0) translate(0) scale(1) translateX(0);
  }
  70% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes zip-in {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
