@keyframes opacity {
  to {
    opacity: 1;
  }
}

@keyframes translateY {
  to {
    transform: translateY(0);
  }
}
@keyframes rotate-left-right {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0);
  }
}
