[class*='--cover'] img,
[class*='--cover'] video,
[class*='--cover'] picture {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}
[class*='--contain'] img,
[class*='--contain'] video,
[class*='--contain'] picture {
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}
.title {
  font-family: var(--third-font-family);
  text-transform: capitalize;
}
@media (any-hover: hover) {
  [class*='--img-hover'] img {
    transition: filter 0.3s ease;
  }

  [class*='--img-hover']:hover img {
    filter: var(--hover-icon);
  }
  [class*='--img-hover']:active img {
    filter: none;
  }
}
@media (min-width: 767.98px) {
  .title {
    font-size: 2rem; /* 32/16 */
  }
}
@media (max-width: 767.98px) {
  .title {
    font-size: 1.5rem; /* 24/16 */
  }
}
