@import 'style.css';

html {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.8s ease, opacity 0.8s ease;
}
html.loaded {
  visibility: visible;
  opacity: 1;
}
.hero {
  min-block-size: 70svh;
  position: relative;
}
.hero__background {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  min-block-size: 70svh;
}
.hero__container {
  max-inline-size: 76.875rem;
  min-block-size: 70svh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  position: relative;
}
.hero__title {
  position: relative;
  z-index: 2;
  color: var(--pramary-bg);
  font-family: var(--third-font-family);
  font-style: italic;
  line-height: 1.513;
  font-size: clamp(1rem, 3.75vw + 0.25rem, 3.625rem); /* 16 > 58 && 992 > 1440 */
}
.red-line {
  background: var(--background-red);
  filter: var(--line-shadow);
  position: sticky;
  inset-inline-start: 0;
  z-index: 5;
}
.red-line__container {
  block-size: 0.875rem;
  max-inline-size: 76.875rem;
  position: relative;
}
.red-line__image {
  position: absolute;
  inset-block-start: 0.25rem; /* 4/16 */
  inset-inline-end: 19.756%; /* 243/1230 */
  inline-size: 100%;
  max-inline-size: 5.5rem; /* 88/16 */
  aspect-ratio: 88 / 52;
  background: url('../img/icons/double-chevron-down.svg') 0 0 / contain repeat-y;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}
.arrow-hidden .red-line__image {
  opacity: 0;
  visibility: hidden;
}
.story__container,
.offer__container {
  max-inline-size: 80.25rem;
}
.logo-carousel {
  max-inline-size: 29rem; /* 464px */
  aspect-ratio: 464 / 290;
  inline-size: 100%;
  border-radius: 0.5rem;
  border: 0.125rem solid var(--logo-carousel-border-color);
  box-shadow: var(--logo-carousel-shadow-color);
}
.logo-carousel__list {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  block-size: 100%;
  list-style: none;
  position: relative;
  overflow: hidden;
}

.logo-carousel__list li {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  inline-size: 100%;
  block-size: 100%;
  opacity: 0;
  transition: opacity 0.75s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-carousel__list li.active {
  opacity: 1;
}

.logo-carousel__list li.fade-out {
  opacity: 0;
}
.logo-carousel__items {
  column-gap: 0.25rem; /* 4/16 */
  font-size: 2rem; /* 32/16 */
  font-family: var(--third-font-family);
}
.logo-carousel__items span {
  opacity: 0;
  transform: translateX(-1.25rem);
}
.logo-carousel__items.active span:nth-child(1) {
  animation: fade-in-20 0.5s ease forwards, translateX 0.5s ease forwards;
}
.logo-carousel__items.active span:nth-child(2) {
  animation: fade-in-50 0.5s ease forwards, translateX 0.5s ease forwards;
  animation-delay: 1s;
}
.logo-carousel__items.active span:nth-child(3) {
  animation: opacity 0.5s ease forwards, translateX 0.5s ease forwards;
  animation-delay: 2s;
}
.logo-carousel__items span:nth-child(2) {
  font-style: italic;
}
.logo-carousel__items span:last-child {
  font-weight: 700;
  font-style: italic;
}
.story__title {
  line-height: 0.9;
  padding-block-end: 0.875rem; /* 14/16 */
  margin-block-end: 0.625rem;
  position: relative;
}
.story__title::before {
  content: '';
  position: absolute;
  inset-block-end: 0;
  inline-size: 100%;
  block-size: 0.125rem;
  background-color: var(--border-color);
  max-inline-size: 44.8125rem;
  z-index: -1;
}
.story__text {
  line-height: 1.62; /* 34/21 */
}
.offer__body {
  padding-inline: 3.25rem; /* 52/16 */
  padding-block: 2rem 8.4375rem; /* 32/16 */
  border-radius: 0.9375rem;
  border: 0.125rem solid var(--card-background-color);
  background-color: var(--body-cards-background-color);
  box-shadow: var(--logo-carousel-shadow-color);
}
.offer__title {
  line-height: normal;
  max-inline-size: 44.8125rem; /* 717/16 */
  padding-block-end: 0.875rem; /* 14/16 */
  border-block-end: 0.125rem solid var(--border-color);
  margin-block-end: 6.25rem; /* 100/16 */
}
.cards-offer {
  max-inline-size: 57.5rem; /* 920/16 */
  margin-inline: auto;
  display: grid;
  row-gap: 6.375rem; /* 102/16 */
  counter-reset: offer-card;
}
.cards-offer article {
  max-inline-size: 46.625rem;
  border-radius: 0.9375rem;
  border: 0.125rem solid var(--card-border-color);
  box-shadow: var(--card-box-shadow-color);
  padding-block: 2.125rem 1.5625rem; /* 34/16 */
  padding-inline: 2.5rem; /* 40/16 */
  position: relative;
  counter-increment: offer-card;
}
.cards-offer li:nth-child(odd) article {
  background: var(--card-background-color);
}
.cards-offer li:nth-child(even) article {
  background: var(--card-background-light-color);
}
.cards-offer li:nth-child(even) article,
.cards-offer li:nth-child(even) .cards-offer__title {
  margin-inline-start: auto;
}
.cards-offer article::before {
  content: counter(offer-card);
  position: absolute;
  inset-block-start: 0;
  transform: translateY(-50%);
  font-family: var(--third-font-family);
  font-size: 21.25rem; /* 340/16 */
  font-style: italic;
  line-height: normal;
  text-transform: capitalize;
  opacity: 0.03;
}
.cards-offer li:nth-child(1) article::before,
.cards-offer li:nth-child(2) article::before {
  font-size: 25rem; /* 400/16 */
  inset-block-start: 1.25rem; /* 20/16 */
}
.cards-offer li:nth-child(odd) article::before {
  inset-inline-end: 0.8125rem; /* 13/16 */
}
.cards-offer li:nth-child(2) article::before {
  inset-inline-start: 3.875rem; /* 62/16 */
}
.cards-offer li:nth-child(even) article::before {
  inset-inline-start: 2.375rem; /* 38/16 */
}
.cards-offer article::after {
  content: '';
  position: absolute;
  inline-size: 100%;
  inset-block-end: -2.625rem; /* 42/16 */
  max-inline-size: 5.5rem; /* 88/16 */
  aspect-ratio: 88 / 52;
  background: url('../img/icons/double-chevron-down.svg') 0 0 / contain repeat-y;
  z-index: 2;
}
.cards-offer li:nth-child(odd) article::after {
  inset-inline-start: 62px;
}
.cards-offer li:nth-child(even) article::after {
  inset-inline-end: 62px;
}
.cards-offer__title {
  margin-block-start: -3rem;
  margin-block-end: 1.1875rem; /* 19/16 */
  color: var(--pramary-bg);
  text-align: center;
  font-family: var(--second-font-family);
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
  padding-inline: 0.75rem; /* 12/16 */
  padding-block: 0.25rem; /* 4/16 */
  background: var(--background-pink);
  inline-size: fit-content;
}
.cards-offer__text {
  font-weight: 600;
  line-height: 1.42; /* 34/24 */
}
.cards-offer__item--anim {
  opacity: 0;
  visibility: hidden;
  transform: translateY(0.625rem);
  transition: opacity 0.5s 0.3s linear, visibility 0.5s 0.3s linear, transform 0.5s 0.3s linear;
}
.cards-offer__item--anim.animate {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.testimonials__title {
  color: var(--testimonials-title);
  text-align: center;
  line-height: normal;
  margin-block-end: 1.875rem; /* 30/16 */
}

.swiper-testimonials {
  color: var(--pramary-bg);
  padding-block-end: 2.5rem;
}

.swiper-testimonials__slide {
  block-size: auto;
  padding-block-start: 5.375rem; /* 86/16 */
  max-inline-size: 41.625rem; /* 666/16 */
}
.swiper-testimonials__inner {
  block-size: 100%;
  background-color: var(--testimonials--body-background);
  border-radius: 0.75rem;
  padding-block: 5.8125rem 4.1875rem;
  padding-inline: 2rem; /* 32/16 */
  text-align: center;
}
.swiper-testimonials__body {
  max-inline-size: 35.625rem; /* 570/16 */
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  block-size: 100%;
}
.swiper-slide__picture {
  flex-shrink: 0;
  inline-size: 10.625rem; /* 170/16 */
  aspect-ratio: 1;
  margin-block-start: -10.625rem; /* -170/16 */
  margin-inline: auto;
  margin-block-end: 0.625rem; /* 10/16 */
  border-radius: 50%;
  border: 0.3125rem solid var(--background-red);
  background-color: var(--pramary-bg);
  overflow: hidden;
  padding-block-start: 0.625rem;
  padding-inline: 0.3125rem;
}
.swiper-testimonials__image {
  max-inline-size: 20.1875rem; /* 323/16 */
  inline-size: 100%;
  margin-block-end: -0.625rem;
}
.swiper-testimonials__fullname {
  font-size: 1.25rem; /* 20/16 */
  font-weight: 700;
  line-height: 1.4; /* 140% */
  margin-block-end: 0.1875rem; /* 3/16 */
}
.swiper-testimonials__text {
  font-size: 1.125rem; /* 18/16 */
  line-height: 1.56; /* 28/18 */
  margin-block-end: 1.75rem; /* 28/16 */
  flex-grow: 1;
}
.swiper-slide__phrase {
  font-size: 1.25rem; /* 20/16 */
  font-weight: 700;
  line-height: 1.144; /* 114.411% */
  position: relative;
}
.swiper-slide__phrase::before,
.swiper-slide__phrase::after {
  content: '';
  position: absolute;
  inline-size: 1.5rem; /* 24/16 */
  aspect-ratio: 24 / 20;
  background: url('../img/quotes.png') 0 0 / contain no-repeat;
}

.swiper-slide__phrase::before {
  inset-block-start: -2.375rem;
  inset-inline-start: -0.75rem;
}
.swiper-slide__phrase::after {
  inset-block-end: -2.375rem;
  inset-inline-end: -0.75rem;
  transform: rotateY(180deg);
}
.swiper-testimonials__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination-bullet {
  border: 0.0625rem solid var(--background-red);
  background: var(--pramary-bg);
  opacity: 1;
  transition: background 0.5s;
}
.swiper-pagination-bullet-active {
  inline-size: 0.625rem;
  block-size: 0.625rem;
  background: var(--background-red);
}

.connect {
  background-color: var(--background-red);
  border-block: 0.0625rem solid var(--testimonials-title);
  color: var(--pramary-bg);
}

.connect__title {
  font-family: var(--third-font-family);
  font-size: 2.75rem; /* 44/16 */
  font-style: italic;
  line-height: normal;
  text-transform: capitalize;
  margin-block-end: 0.625rem; /* 10/16 */
}
.connect__text {
  font-weight: 500;
  line-height: 1.417; /* 141.667% */
}
.connect__text p:not(:last-child) {
  margin-block-end: 2.125rem; /* 34/16 */
}
.connect__contacts {
  font-size: 1.0625rem; /* 17/16 */
  line-height: 1.412; /* 141.176% */
}
.connect__contacts li:not(:last-child) {
  margin-block-end: 1rem; /* 16/16 */
}
.connect__contacts a {
  max-inline-size: 25.25rem; /* 404/16 */
  inline-size: 100%;
  padding-block: 2rem; /* 32/16 */
  padding-inline: 1.25rem; /* 20/16 */
  border: 0.0625rem solid var(--contact-border);
  border-radius: 0.9375rem;
  display: flex;
  align-items: center;
  column-gap: 0.9375rem; /* 15/16 */
  transition: box-shadow 0.3s;
  overflow: hidden;
}
.connect__contacts a::before {
  content: '';
  inline-size: 1.5625rem; /* 25/16 */
  flex-shrink: 0;
}
.connect__email a::before {
  background: url('../img/icons/email.svg') 0 0 / contain no-repeat;
  aspect-ratio: 25 / 20;
}
.connect__linkedin a::before {
  background: url('../img/icons/linkedin.svg') 0 0 / contain no-repeat;
  aspect-ratio: 1;
}
@media (any-hover: hover) {
  .connect__contacts a:hover {
    box-shadow: var(--logo-carousel-shadow-color);
  }
  .connect__contacts a:active {
    box-shadow: none;
  }
}
@media (min-width: 1284px) {
  .story__title::before {
    max-inline-size: 44.8125rem; /* 717/16 */
    inline-size: 100%; /* 717/750 */
  }
}
@media (min-width: 991.98px) {
  .story__title::after {
    inline-size: 31.5rem; /* 504/16 */
  }
  .connect__container {
    column-gap: 8.4375rem; /* 135/16 */
  }
}
@media (min-width: 767.98px) {
  .hero__container {
    padding-block: 15.3125rem 1.25rem; /* 20/16 */
  }
  .logo-carousel {
    float: left;
    margin-inline-end: 2.5rem;
  }
  .logo-carousel__items {
    column-gap: 0.5rem; /* 8/16 */
    font-size: 2.5rem; /* 40/16 */
  }
  .story__title::before {
    inset-inline-end: 2.0625rem;
  }
  .story__title::after {
    content: '';
    position: absolute;
    inset-inline-start: 0;
    inset-block-end: 0;
    block-size: 100%;
    background-color: var(--pramary-bg);
    z-index: -1;
  }
  .story__text {
    font-size: 1.3125rem; /* 21/16 */
  }
  .story__text p:not(:last-child) {
    margin-block-end: 3rem; /* 48/16 */
  }
  .cards-offer__text {
    font-size: 1.5rem; /* 24/16 */
  }
  .connect__container {
    max-inline-size: 76.875rem;
    display: grid;
    grid-template-columns: 659fr 404fr;
  }
  .connect__text {
    font-size: 1.5rem; /* 24/16 */
  }
}
@media (min-width: 479.98px) {
  .story {
    padding-block: 2.625rem 1.5625rem;
  }
  .offer {
    padding-block: 1.5625rem 1.875rem;
  }
  .testimonials {
    padding-block: 1.875rem 3.75rem;
  }
  .connect {
    padding-block: 5.3125rem 4.0625rem;
  }
  .hero__title {
    font-size: clamp(1rem, 3.75vw + 0.25rem, 3.625rem); /* 16 > 58 && 992 > 1440 */
  }
  .cards-offer__title {
    min-inline-size: 20.4375rem;
  }
}
@media (max-width: 1283.98px) {
  .story__container,
  .offer__container {
    max-inline-size: 70.625rem; /* 1130/16 */
  }
}
@media (max-width: 991.98px) and (min-width: 767.98px) {
  .logo-carousel {
    max-inline-size: 18.75rem; /* 300/16 */
  }
  .story__title::after {
    inline-size: 21.25rem; /* 340/16 */
  }
  .connect__container {
    column-gap: 2.5rem; /* 40/16 */
  }
}
@media (max-width: 767.98px) {
  .hero {
    min-block-size: 50svh;
  }
  .hero__background {
    min-block-size: 50svh;
  }
  .hero__container {
    min-block-size: 50svh;
    padding-block: 8.125rem 1.25rem; /* 20/16 */
  }
  .red-line__image {
    max-inline-size: 2.75rem; /* 44/16 */
  }
  .logo-carousel {
    max-inline-size: 82vw;
    aspect-ratio: 464 / 160;
    margin-block-end: 1.5rem;
    margin-inline: auto;
  }
  .story__title::before {
    inset-inline-start: 0;
  }
  .story__text p:not(:last-child) {
    margin-block-end: 1.5rem; /* 24/16 */
  }
  .offer__body {
    padding-inline: 0.9375rem;
    padding-block: 2rem 4rem; /* 64/16 */
  }
  .cards-offer article::after {
    max-inline-size: 2.75rem; /* 44/16 */
    inset-block-end: -1.375rem; /* 22/16 */
  }
  .swiper-testimonials__inner {
    padding-block: 5.8125rem 3.1875rem;
  }
  .swiper-slide__phrase::before {
    inset-block-start: -1.5rem;
  }
  .swiper-slide__phrase::after {
    inset-block-end: -1.5rem;
  }
  .connect__title {
    font-size: 1.75rem; /* 28/16 */
  }
  .connect__content {
    margin-block-end: 1.5rem; /* 24/16 */
  }
}
@media (max-width: 479.98px) {
  .story {
    padding-block: 1.875rem 0.9375rem; /* 30/16 */
  }
  .offer {
    padding-block: 0.9375rem; /* 15/16 */
  }
  .testimonials,
  .connect {
    padding-block: 1.875rem;
  }
  .hero__title {
    font-size: 1.25rem; /* 20/16 */
  }
  .offer__container {
    padding-inline: 0;
  }
  .cards-offer article {
    padding-inline: 0.9375rem;
  }
  .connect__contacts {
    font-size: 0.875rem; /* 14/16 */
  }
  .connect__contacts a {
    padding-block: 1.5rem; /* 24/16 */
    padding-inline: 0.9375rem; /* 15/16 */
    column-gap: 0.3125rem;
  }
  .connect__contacts a::before {
    inline-size: 0.9375rem;
  }
}
